@charset "utf-8";

/*네비게이션 바*/


#fp-nav ul li, .fp-slidesNav ul li{
    width:30px;
    height:30px;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
    width:10px;
    height:10px;
    background:#aaa;
}
#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span{
    width:15px;
    height:15px;
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span{
    width:20px;
    height:20px;
    background:#666;
}
/*네비게이션 텍스트*/
#fp-nav ul li .fp-tooltip.fp-left{
    left:40px;
}
#fp-nav ul li .fp-tooltip{
    color:#666;
    top:4px;
    font-size:20px;
    font-family:'NotoSans';
}

/*컨테이너*/
.container h2{
    color:#0f3375;
    font-size:45px;
    padding-bottom:110px;
    text-align: center;
}
.container h2 p{
    color:rgba(102,120,165,0.2)
}

/*메인*/

.main{}
.main_bg{    
    margin-top: 100px;
    background:url(../images/main_bg2.png) no-repeat center center;
    height:427px;
    margin-bottom:170px;
    text-indent:-9999px;
}

.scroll{
    text-align: center;
    padding-top:80px;
}
.scroll img{
    width:100px;
}

/*소개*/

.intro{
    margin:200px 0;
    background:url(../images/bg_bus.png) no-repeat left center;
    background-size:contain;
    height:535px
}

#intro_txt{
    margin-left:50%;
    padding-top:6%; 
    font-size:35px;
    font-weight:lighter;
    color:#6678a5;
    padding:0 15px;
}
#intro_txt:first-child{    
    background:url(../images/ico_cir.png) no-repeat;
}

/*예매*/

.main_tick{
    text-align: center;
}
.main_tick h2{
}
.main_tick h2 p{
    font-size: 35px;
}

.tick_btn{
    display:inline-block;
}
.tick_btn li{
    border:2px solid #1b1464;
    border-radius:15px;
    float: left;
    width:350px;
    height:350px;
    margin-right:200px;
    transform:rotate(45deg);
    transition:all 0.5s;
}
.tick_btn li:hover{
    background-color:rgba(27,20,100,0.5);
}

.tick_btn li:hover a{
    color:#fff;
}
.tick_btn li:last-child{
    margin-right:0;
}
.tick_btn li a{
    padding:135px 0;
    display: block;
}

.tick_btn .t_txt{    
    transform:rotate(-45deg);
}
.tick_btn li h3{
    font-size:35px;
}
.tick_btn li p{
    font-size:18px;
}

.t_left{}
.t_right{}

/*전화번호*/

.main_phone{
    text-align:center;
}
.main_phone h2{
    padding-bottom:50px;
}

.phone_full{
    width:900px;
    margin:0 auto;
    position:relative;
    font-size:32px;
}
.phone_full a{
    color:#fff;
    height:100%;
    display:block;
    transition:all 0.5s;
    
}
.phone_full a:hover{
    background-color:rgba(255,255,255,0.5);
}
.phone_full a:hover span{
    display: block;
}
.phone_full p{
    padding-top:60px;
}
.phone_full span{
    font-weight:500;
    display:none;
}
.phone_full .pho_t01 p,.pho_b03 p{
    padding-top:130px;
}

.pho_top{
    margin-bottom:10px;
}

.pho_top .pho_t01{
    background:url(../images/pho_squ01.png) no-repeat center center;
    background-size:cover;
    width:428px;
    height:313px;
    float:left;
}
.pho_top .pho_t0203{
    font-size:25px;
    float: left;
    margin-left:10px;
}
.pho_top .pho_t02{
    width:240px;
    height:152px;
    background-image:url(../images/pho_squ02.png);
    margin-bottom:10px;
}
.pho_top .pho_t03{    
    width:240px;
    height:152px;
    background-image:url(../images/pho_squ03.png);
}

.pho_bottom .pho_b0102{
    float:left;
    font-size:25px;
}
.pho_bottom .pho_b01{
    background:url(../images/pho_squ04.png) no-repeat center center;
    width:240px;
    height:152px;
    margin-bottom:10px;
}
.pho_bottom .pho_b02{    
    width:240px;
    height:152px;
    background-image:url(../images/pho_squ05.png);
}
.pho_bottom .pho_b03{
    width:428px;
    height:313px;
    background-image:url(../images/pho_squ06.png);
    margin-left:250px;
}

.more_btn{
    position:absolute;
    top:0;
    right:10%;
    
}

.more{
    display:none;
}
.more_plus{
    position:absolute;
    top:0;
    right:90px;
    z-index:999;
}

.more_btn, .more_plus:hover{
    cursor: pointer;
    
}

/*터미널,정보*/
.main_int{
    text-align:center;
}

.main_int ul{
    display: inline-block;
}
.main_int ul li{
    width:370px;
    float: left;
}
.main_int ul img{}
.main_int ul h4{
    font-size:30px;
    margin-bottom:30px;
}
.main_int ul p{
    font-size:20px;
    font-weight:200;
}